.slider__items {
  position: relative;
}

.slider__item {
  position: relative;
  box-sizing: border-box;
}

.slider__container {
  position: relative;
  box-sizing: content-box;
}

.slider__wrap {
  overflow: hidden;
  box-sizing: content-box;
}

.slider__arrow {
  position: absolute;
  width: 64px;
  height: 50px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}

.slider__arrow--left {
  background-image: url(/modules/elberosweb/images/arrow-left-b.png);
  top: calc(50% - 25px);
}

.slider__arrow--right {
  background-image: url(/modules/elberosweb/images/arrow-right-b.png);
  top: calc(50% - 25px);
}

.slider__arrow--top {
  background-image: url(/modules/elberosweb/images/arrow-top-b.png);
  left: calc(50% - 32px);
}

.slider__arrow--bottom {
  background-image: url(/modules/elberosweb/images/arrow-bottom-b.png);
  left: calc(50% - 32px);
}

.slider--horizontal .slider__arrow--left {
  display: block;
}

.slider--horizontal .slider__arrow--right {
  display: block;
}

.slider--horizontal .slider__arrow--top {
  display: none;
}

.slider--horizontal .slider__arrow--bottom {
  display: none;
}

.slider--vertical .slider__arrow--left {
  display: none;
}

.slider--vertical .slider__arrow--right {
  display: none;
}

.slider--vertical .slider__arrow--top {
  display: block;
}

.slider--vertical .slider__arrow--bottom {
  display: block;
}

.slider--horizontal {
  position: relative;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.slider--horizontal .slider__container, .slider--horizontal .slider__wrap {
  height: 100%;
}

.slider--horizontal .slider__wrap {
  width: 100%;
}

.slider--horizontal .slider__items {
  font-size: 0;
}

.slider--horizontal .slider__item {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  width: 100%;
}

.slider--horizontal .slider img {
  max-width: 100%;
  /*max-height: 400px;*/
}

.slider--horizontal.slider--outside .slider__container {
  width: calc(100% - 100px);
  padding-left: 50px;
  padding-right: 50px;
}

.slider--horizontal.slider--outside .slider__arrow--left {
  left: 10px;
}

.slider--horizontal.slider--outside .slider__arrow--right {
  right: 45px;
}

.slider--horizontal.slider--inside .slider__container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.slider--horizontal.slider--inside .slider__arrow--left {
  left: 0px;
}

.slider--horizontal.slider--inside .slider__arrow--right {
  right: 0px;
}

.slider--vertical {
  position: relative;
  width: 100px;
  height: 100%;
}

.slider--vertical .slider__container, .slider--vertical .slider__wrap {
  width: 100%;
}

.slider--vertical .slider__wrap {
  height: 100%;
}

.slider--vertical .slider__items {
  position: relative;
  font-size: 0;
}

.slider--vertical .slider__item {
  text-align: middle;
  font-size: 14px;
  width: 100%;
}

.slider--vertical .slider img {
  max-height: 100%;
}

.slider--vertical.slider--outside .slider__container {
  height: calc(100% - 100px);
  padding-top: 50px;
  padding-bottom: 50px;
}

.slider--vertical.slider--outside .slider__arrow--top {
  top: 0px;
}

.slider--vertical.slider--outside .slider__arrow--bottom {
  bottom: 0px;
}

.slider--vertical.slider--inside .slider__container {
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.slider--vertical.slider--inside .slider__arrow--top {
  top: 10px;
}

.slider--vertical.slider--inside .slider__arrow--bottom {
  bottom: 45px;
}
